name: Android Release Build

on:
  push:
    tags:
      - 'v*' 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # 1. Build Bundle (AAB) atau APK
    - name: Build Release APK
      run: ./gradlew assembleRelease

    # 2. Proses Signing (Tanda Tangan)
    - name: Sign Android Release
      id: sign_app
      env:
        ANDROID_HOME: /usr/local/lib/android/sdk
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.KEYSTORE_BASE64 }}
        alias: ${{ secrets.KEY_ALIAS }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
        buildToolsVersion: "34.0.0"

    # 3. Upload Hasilnya ke GitHub
    - name: Upload Signed APK
      uses: actions/upload-artifact@v4
      with:
        name: Signed-Release-APK
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
